[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:thegreatape/oh-my-zsh
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
